@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main flex container */
body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}

/* flex-item: links */
ul{
    list-style-type: none;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
li{
    font-size: 18px;
    color: #e5e7eb;
}


/* Content flex container */

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
}
.hero-text{
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 500px;
    flex-wrap: wrap;
    gap: 10px;
}
.hero-text-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.paragraph{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    border-radius: 8px;
    width: 150px;
    height: 40px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/* Placeholder styling */
.placeholder {
    width: 500px;
    height: 250px;
    background-color: #6b7280; /* gray box */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

/* Information-text Flex container */
.information-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* Title flex-item:flex-container */
.title{
    display: flex; /* Not needed */
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    font-family: Roboto;
    margin: 60px;
}
/* Images flex-item:flex-container */
.images{
    display: flex;
    /* max-width: 100%;
    flex: 1; */
    justify-content:flex-start;
    gap: 30px;
}
.images img {
    width: 200px;
    height: 200px;
    width: 100%;
    object-fit: cover; /* makes sure aspect ratio is preserved and fills the box */
    border-radius: 8px; /* optional, just makes them look nicer */
}
.images > div {
    text-align: center;
    margin: 0 10px; /* adds spacing between items */
    width: 200px;
}

/* Quote Flex Container */
.quote{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   /* centers vertically */
    margin-top: 120px;
    background-color: #e5e7eb;
    text-align: justify;
    align-items: center;
}
.quote-content{
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    max-width: 800px;  /* limit width but allow responsiveness */
    margin: 120px 120px 20px;
}
.author{
    margin-bottom: 100px;
    margin-left: 600px;
    font-size: 20px;
    font: Roboto;
}

/* Registration flexbox container */
.white-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px;
    flex-grow: 1;
}
.Registration {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    border-color: white;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 55px 110px;
    width: 100%;
    max-width: 1050px;
    margin: 0px auto;
}
.reg-text b{
    font-size: 25px;
    font-family: Roboto;
}
.reg-text p{
    font-size: 18px;
    font-family: Roboto;
    color: #e5e7eb;
}
.Registration button{
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

/* Footer flex container */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: Roboto;
    padding: 35px 20px 35px;
}
