@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main flex container */
body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}

/* flex-item: links */
ul{
    list-style-type: none;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
li{
    font-size: 18px;
    color: #e5e7eb;
}